<nz-spin [nzSpinning]="loading">
    <form nz-form [formGroup]="form" (ngSubmit)="submit()" [nzLayout]="'vertical'" >            
        <div class="row">
            <div class="col-sm-12 col-12">
                <nz-card>
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h3>{{ 'sales.referenceSale' | translate }} # <input class="input__reference" nz-input nzTooltipTrigger="focus" nzTooltipPlacement="topLeft" placeholder="Referencia" formControlName="reference" [readonly]="true" /></h3>
                        <div class="fz-16">
                            <nz-date-picker
                            nzShowTime
                            nzFormat="dd/MM/yyyy HH:mm a"
                            formControlName="date"
                            [nzDisabled]="!!id"
                            ></nz-date-picker>
                        </div>
                    </div>
                    <nz-divider nzType="horizontal"></nz-divider>
                    <div class="row">
                        <div class="col-9">
                            <nz-card>
                                <app-info-client-sales [form]="form" [hasAdminModule]="hasAdminModule"></app-info-client-sales>
                            </nz-card>
                            <nz-card>
                                <app-list-products-form [form]="form" [products]="products" [hasAdminModule]="hasAdminModule"></app-list-products-form>
                            </nz-card>
                        </div>
                        <div class="col-3">
                            <nz-card class="h-2">
                                <app-form-store [form]="form"></app-form-store>
                            </nz-card>
                            <nz-card>
                                <app-detail-payment [form]="form" [products]="products" (submited)="submit()" [id]="id" [hasAdminModule]="hasAdminModule"></app-detail-payment>
                            </nz-card>
                        </div>
                    </div>
                </nz-card>
            </div>
        </div>
    </form>
</nz-spin>

<ng-template #pricePrefix>
    <span>$</span>
</ng-template>  