<nz-page-header class="site-page-header" nzBackIcon>
    <nz-page-header-title>
        <ng-container>{{ (isDetail ? 'global.detail' : (id ? 'users.editTitle' : 'users.addTitle')) | translate }}</ng-container>
    </nz-page-header-title>
  </nz-page-header>

<div class="container mt-3">
    <nz-card nzTitle="{{ 'users.infoBasic' | translate }}">
      <app-form-users></app-form-users>
    </nz-card>
    <ng-container *ngIf="id && !isDetail">
        <nz-card nzTitle="{{ 'users.changePassword' | translate }}">
            <app-form-password [id]="id"></app-form-password>
        </nz-card>    
    </ng-container>
</div>