<nz-table #customersListTable #sortTable [nzData]="customersList" [nzLoading]="loading"
[nzShowPagination]="false" [nzFrontPagination]="false" >
    <thead>
        <tr>
            <th *ngFor="let column of orderColumn" [nzSortFn]="column.compare" [nzSortPriority]="column.priority">{{ column.title }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of customersListTable.data;  let i=index">
            <td>#{{item.id}}</td>
            <td>
                {{ item.full_name }}
            </td>
            <td>
                {{ item.document }}
            </td>
            <td>
                {{ item.email }}
            </td>
            <td>
                {{ item.storeName }}
            </td>
            <td>
                <nz-badge *ngIf="item.state == 1" nzStatus="success"></nz-badge>
                <nz-badge *ngIf="item.state == 0 || item.state == 2" nzStatus="error"></nz-badge>
                <span class="text-capitalize">
                    {{ item.state == 0 ? ('users.inactive' | translate) : (item.state == 1 ? ('users.active' | translate) : ('users.earring' | translate)) }}
                </span>                  
            </td>
            <td class="text-md-right">
                <a class="m-r-5 btn-primary" nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="{{ 'global.detail' | translate }}" [routerLink]="['/', 'contactos', 'clientes', 'detalle', item.id]">
                    <span nz-icon nzType="eye" nzTheme="outline"></span>
                </a>
                <a class="m-r-5 btn-warning" nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="{{ 'global.edit' | translate }}" [routerLink]="['/', 'contactos', 'clientes', 'editar', item.id]" [disabled]="!hasAdminModule">
                    <span nz-icon nzType="edit" nzTheme="outline"></span>
                </a>
                <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="{{ 'global.delete' | translate }}" class="btn-delete" nz-popconfirm nzPopconfirmTitle="{{ 'global.deleteConfirm' | translate }}" [nzBeforeConfirm]="beforeConfirm" (nzOnConfirm)="confirm(item.id)" (nzOnCancel)="cancel()" [disabled]="!hasAdminModule">
                    <i nz-icon nzType="delete" theme="outline"></i>
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>