<form [formGroup]="form">
    <div class="row mb-2">
        <div class="col-12 col-sm-8">
            <h4>{{ 'sales.productList' | translate }}</h4>
        </div>
        <div class="col-12 col-sm-4">
            <button nz-button nzType="text" nzBlock class="w-100" type="button" (click)="onClikOpenModal(footer)" [disabled]="!hasAdminModule">
                <i nz-icon nzType="appstore-add" theme="outline"></i>
                {{ 'sales.searchProduct' | translate }}
            </button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <nz-form-item>
                <nz-form-label>{{ 'products.reference' | translate }}</nz-form-label>
                <nz-form-control>
                    <input nz-input placeholder="{{ 'products.reference' | translate }}" type="text" formControlName="referenceSearch" (change)="searchProduct($event.target.value)" [readonly]="!hasAdminModule">
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <nz-table nzTemplateMode>
        <thead>
            <tr>
                <th>{{ 'products.image' | translate }}</th>
                <th>{{ 'products.name' | translate }}</th>
                <th>{{ 'sales.amount' | translate }}</th>
                <th>{{ 'sales.unitValue' | translate }}</th>
                <th>{{ 'sales.subtotal' | translate }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-container formArrayName="products" >
                <tr *ngFor="let productsForm of products?.controls; let indexProduct = index">
                    <ng-container [formGroup]="productsForm">
                        <td>
                            <nz-avatar [nzSize]="60" nzIcon="file-image" [nzSrc]="productsForm?.get('image')?.value"></nz-avatar>
                        </td>
                        <td>{{  productsForm?.get('name')?.value }}</td>
                        <td style="vertical-align: middle;">
                            <nz-form-control>
                                <nz-input-group [nzErrorTip]="errorsPassword">
                                    <input nz-input placeholder="{{ 'sales.amount' | translate }}" type="number" formControlName="amount" (change)="onChangeAmount(indexProduct)" [readonly]="!hasAdminModule">
                                </nz-input-group>
                            </nz-form-control>
                        </td>
                        <td style="vertical-align: middle;"> 
                            <nz-form-control>
                                <nz-input-group [nzPrefix]="pricePrefix">
                                    <input nz-input placeholder="{{ 'sales.unitValue' | translate }}" type="text" formControlName="price" (ngModelChange)="onChangePrice()" currencyMask class="m-w-100" [readonly]="!hasAdminModule">
                                </nz-input-group>
                            </nz-form-control>
                        </td>
                        <td>{{ (productsForm?.get('amount')?.value * productsForm?.get('price')?.value) | currency:'USD': 'symbol':'1.0-0'  }}</td>
                        <td>
                            <button nz-button nzType="default" nzShape="circle" nz-tooltip nzTooltipTitle="{{ 'global.delete' | translate }}" class="btn-delete" nz-popconfirm nzPopconfirmTitle="{{ 'global.deleteConfirm' | translate }}" [nzBeforeConfirm]="beforeConfirm" (nzOnConfirm)="confirm(indexProduct, productsForm?.get('sale_id')?.value)" (nzOnCancel)="cancel()" [disabled]="!hasAdminModule">
                                <i nz-icon nzType="delete" theme="outline"></i>
                            </button>
                        </td>
                    </ng-container>
                </tr>
            </ng-container>
        </tbody>
    </nz-table>
</form>

<ng-template #pricePrefix>
    <span>$</span>
</ng-template>  


<ng-template #errorsPassword let-control>
    <ng-container *ngIf="control.hasError('required')">Campo requerido</ng-container>
    <ng-container *ngIf="control.hasError('no-same')">No hay suficientes unidades disponibles</ng-container>
</ng-template>

<ng-template #footer>

</ng-template>